In [9]:
import mysql.connector
from mysql.connector import Error

def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection


def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")
        

def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")
        


def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [10]:
db_query= "CREATE DATABASE betting"
create_database(connection, db_query)

Database created successfully

In [11]:
create_fixtures= """
CREATE TABLE fixtures(
    home_team VARCHAR(50) NOT NULL,
    away_team VARCHAR (50) NOT NULL,
    date DATETIME NOT NULL,
    scrape_time_x DATETIME NOT NULL,
    scrape_time_y DATETIME NOT NULL ,
    time_lag REAL,
    difference_to_scrape REAL,
    league_x VARCHAR(50) NOT NULL,
    league_y VARCHAR(50) NOT NULL,
    PRIMARY KEY(home_team, away_team,
    date, scrape_time_x)
    );
    """
connection= create_db_connection('localhost','root', '4kS8GdBm!','betting')
execute_query(connection, create_fixtures)

create_odds= """CREATE TABLE odds(
    home_team VARCHAR(50) NOT NULL,
    away_team VARCHAR (50) NOT NULL,
    date DATETIME NOT NULL,
    scrape_time_x DATETIME NOT NULL,
    10BetH REAL,
    10BetD REAL,
    10BetA REAL,
    888sportH REAL,
    888sportD REAL,
    888sportA REAL,
    BetVictorH REAL,
    BetVictorD REAL,
    BetVictorA REAL,
    Bet365H REAL,
    Bet365D REAL,
    Bet365A REAL,
    BetfairSportsbookH REAL,
    BetfairSportsbookD REAL,
    BetfairSportsbookA REAL,
    BetfairH REAL,BetfairD REAL,
    BetfairA REAL,BetfredH REAL,
    BetfredD REAL,
    BetfredA REAL,
    BetwayH REAL,
    BetwayD REAL,
    BetwayA REAL,
    BoyleSportsH REAL,
    BoyleSportsD REAL,
    BoyleSportsA REAL,
    GentingBetH REAL,
    GentingBetD REAL,
    GentingBetA REAL,
    MansionBetH REAL,
    MansionBetD REAL,
    MansionBetA REAL,
    MatchbookH REAL,
    MatchbookD REAL,
    MatchbookA REAL,
    NovibetH REAL,
    NovibetD REAL,
    NovibetA REAL,
    PaddyPowerH REAL,
    PaddyPowerD REAL,
    PaddyPowerA REAL,
    RedzoneH REAL,
    RedzoneD REAL,
    RedzoneA REAL,
    SkybetH REAL,
    SkybetD REAL,
    SkybetA REAL,
    SmarketsSportsbookH REAL,
    SmarketsSportsbookD REAL,
    SmarketsSportsbookA REAL,
    SmarketsH REAL,SmarketsD REAL,
    SmarketsA REAL,
    SportNationH REAL,
    SportNationD REAL,
    SportNationA REAL,
    SportingIndexH REAL,
    SportingIndexD REAL,
    SportingIndexA REAL,
    SpreadexH REAL,
    SpreadexD REAL,
    SpreadexA REAL,
    UnibetH REAL,
    UnibetD REAL,
    UnibetA REAL,
    VBetH REAL,
    VBetD REAL,
    VBetA REAL,
    WilliamHillH REAL,
    WilliamHillD REAL,
    WilliamHillA REAL,
    PRIMARY KEY(home_team, away_team,
    date, scrape_time_x)
    );"""

create_test_group1= """CREATE TABLE test_group1(
    home_team VARCHAR(50) NOT NULL,
    away_team VARCHAR (50) NOT NULL,
    date DATETIME NOT NULL,
    scrape_time_x DATETIME NOT NULL,
    max_BookieH VARCHAR(50),
    max_BookieD VARCHAR(50),
    max_BookieA VARCHAR(50),
    max_oddsH REAL,
    max_oddsD REAL,
    max_oddsA REAL,
    marginH REAL,
    marginD REAL,
    marginA REAL,
    PRIMARY KEY(home_team, away_team,
    date, scrape_time_x)
    );"""

create_test_group2= """CREATE TABLE test_group2(
    home_team VARCHAR(50) NOT NULL,
    away_team VARCHAR (50) NOT NULL,
    date DATETIME NOT NULL,
    scrape_time_x DATETIME NOT NULL,
    max_BookieH2 VARCHAR(50),
    max_BookieD2 VARCHAR(50),
    max_BookieA2 VARCHAR(50),
    max_oddsH2 REAL,
    max_oddsD2 REAL,
    max_oddsA2 REAL,
    marginH2 REAL,
    marginD2 REAL,
    marginA2 REAL,
    PRIMARY KEY(home_team, away_team,
    date, scrape_time_x)
    );"""

create_test_group3= """CREATE TABLE test_group3(
    home_team VARCHAR(50) NOT NULL,
    away_team VARCHAR (50) NOT NULL,
    date DATETIME NOT NULL,
    scrape_time_x DATETIME NOT NULL,
    max_BookieH3 VARCHAR(50),
    max_BookieD3 VARCHAR (50),
    max_BookieA3 VARCHAR (50),
    max_oddsH3 REAL,
    max_oddsD3 REAL,
    max_oddsA3 REAL,
    marginH3 REAL,
    marginD3 REAL,
    marginA3 REAL,
    PRIMARY KEY(home_team, away_team,
    date, scrape_time_x)
    );"""

create_test_group4= """CREATE TABLE test_group4(
    home_team VARCHAR(50) NOT NULL,
    away_team VARCHAR (50) NOT NULL,
    date DATETIME NOT NULL,
    scrape_time_x DATETIME NOT NULL,
    max_BookieH4 VARCHAR(50),
    max_BookieD4 VARCHAR(50),
    max_BookieA4 VARCHAR(50),
    max_oddsH4 REAL,
    max_oddsD4 REAL,
    max_oddsA4 REAL,
    marginH4 REAL,
    marginD4 REAL,
    marginA4 REAL,
    PRIMARY KEY(home_team, away_team,
    date, scrape_time_x)
    );"""

create_probabilities= """CREATE TABLE probabilities(
    home_team VARCHAR(50) NOT NULL,
    away_team VARCHAR (50) NOT NULL,
    date DATETIME NOT NULL,
    scrape_time_x DATETIME NOT NULL,
    ProbsPinnacleHome REAL,
    ProbsPinnacleDraw REAL,
    ProbsPinnacleAway REAL,
    PRIMARY KEY(home_team, away_team,
    date, scrape_time_x)
    );"""


connection = create_db_connection("localhost", "root", '4kS8GdBm!', 'betting')
execute_query(connection, create_test_group1)
execute_query(connection, create_test_group2)
execute_query(connection, create_test_group3)
execute_query(connection, create_test_group4)
execute_query(connection, create_probabilities)
execute_query(connection, create_odds)

MySQL Database connection successful
Query successful
MySQL Database connection successful
Query successful
Query successful
Query successful
Query successful
Query successful
Query successful

In [ ]:
connection = create_db_connection("localhost", "root", '4kS8GdBm!', 'betting')

q1= """ALTER TABLE test_group1
MODIFY date DATETIME NOT NULL"""

q2= """ALTER TABLE test_group2
MODIFY scrape_time_x DATETIME NOT NULL"""


execute_query(connection,q2)